<!-- Héritage allows index to use block content-->
{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
        <h2>{{pokemon.name}} <small>Pokemon n°{{pokemon.number}}</small></h2>
        <p class="lead">
            {{pokemon.description}}
        </p>
        <h3>Types: </h3>
        {% for type in pokemon.types %}
            <span style="background-color: {{type.color}}" class="label label-default">{{type.name}}</span>
        {% endfor %}
    </div>
</div>

{% endblock%}