<!DOCTYPE html>
<html>
<head>
    <title>Pokédex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    </head>
<body>
    <div class="container">
        <a href="/"><h1>Mon Pokédex</h1></a>
        {% block content%}{% endblock %}
        <hr>
        <div class="text-center"> Copyrights La Part du Web</div>
    </div>
</body>
</html>